# Virtual environments
venv/
__pycache__/

# Python artifacts
*.pyc
*.pyo
*.pyd
*.log

# DB files
*.db
*.sqlite3

# Uploads/temp files
temp_uploads/

# Model files
*.pt
*.h5
*.pkl
model/

# MacOS
.DS_Store
